<div class="card login-card shadow-sm p-3 mb-5 bg-white rounded">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
    <h6 class="card-subtitle mb-2 text-muted">Please enter username and password</h6>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="exampleInputUsername1">Username</label>
        <input type="email" formControlName="username"
          [class.is-invalid]="loginForm.get('username').invalid && loginForm.get('username').dirty"
          [class.is-valid]="loginForm.get('username').valid && loginForm.get('username').dirty" class="form-control"
          id="exampleInputUsername1" autocomplete="off" aria-describedby="usernameHelp" placeholder="Enter Username">
      </div>
      <div class="form-group" *ngIf="loginForm.get('username').dirty && loginForm.get('username').value">
        <div><span [ngClass]="loginForm.get('username').hasError('length') ? 'circle-red' : 'circle-green'"></span> 8-20
          characters</div>
        <div><span [ngClass]="loginForm.get('username').hasError('begin') ? 'circle-red' : 'circle-green'"></span> Begin
          with a alphabet
        </div>
        <div><span [ngClass]="loginForm.get('username').hasError('number') ? 'circle-red' : 'circle-green'"></span>
          Include a number</div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" formControlName="password"
          [class.is-invalid]="loginForm.get('password').invalid && loginForm.get('password').dirty"
          [class.is-valid]="loginForm.get('password').valid && loginForm.get('password').dirty" class="form-control"
          id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group" *ngIf="loginForm.get('password').dirty && loginForm.get('password').value">
        <div><span [ngClass]="loginForm.get('password').hasError('length') ? 'circle-red' : 'circle-green'"></span> 8-20
          characters</div>
        <div><span [ngClass]="loginForm.get('password').hasError('password') ? 'circle-red' : 'circle-green'"></span> 1
          upper 1 lower 1 number 1
          special character</div>
      </div>
      <button type="submit" class="btn btn-outline-success float-right" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
</div>
