.login-card {
  top: 50%;
  left: 50%;
  width:24em;
  transform: translate(-50%, -50%);
  position:fixed;
}
.circle-red:before {
  content: ' \25CF';
  color: red;
  font-size: 15px;
}
.circle-green:before {
  content: ' \25CF';
  color: green;
  font-size: 15px;
}
